<h3>Comments</h3><br/>

<form method="post" action="" style="width: 400px;">
    <input type="hidden" name="id_comment" value="<?= $data[0]['id_comment'] ?>"/>
    <div class="form-group">
        <label for="comment">Comment</label>
            <textarea rows="8" id="comment" name="comment"
                      class="form-control"><?= $data[0]['comment'] ?></textarea>
    </div>
    <div class="form-group">
        <label for="like">Likes</label>
        <input type="text" id="like" name="like" value="<?= $data[0]['cnt_like'] ?>"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="dislike">Dislikes</label>
        <input type="text" id="dislike" name="dislike" value="<?= $data[0]['cnt_dislike'] ?>"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="is_active">Publish</label>
        <input type="checkbox" id="is_active" name="is_active"
               <?php if ($data[0]['is_active']) { ?>checked="checked" <?php } ?> />
    </div>
    <input type="submit" class="btn btn-success"/>
</form>
