<h3>Add promo</h3><br/>
<form method="post" action="">

    <div class="form-group">
        <label for="name">Product name</label>
        <input type="text" id="name" name="name" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="">
    </div>
    <div class="form-group">
        <label for="is_active">Publish?</label>
        <input type="checkbox" name="is_active" id="is_active" checked="checked" />
    </div>

    <input type="submit" class="btn btn-success" />
</form>