<br><br><br><pre><?php print_r($_POST) ?></pre>
<form method="post" action="" class="form-inline">

        Tags:
        <?php foreach ($data['tags'] as $t) : ?>
            <div class="checkbox">
                <label for="date">
                    <input type="checkbox" name="tags[<?= $t['id_tag'] ?>]" value="<?=$t['id_tag'] ?>"> <?=$t['tag_name'] ?>
                </label>
            </div>
        <?php endforeach; ?><br>
		
        Categories:
        <?php foreach ($data['categories'] as $c) : ?>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="categories[<?=$c['id'] ?>]" value="<?= $c['id'] ?>"><?=$c['name'] ?>
                </label>
            </div>
        <?php endforeach; ?><br>
		
		Date:<br>
            <label for="date">from date:</label>
            <input type="date" data-date-format="DD MMMM YY" class="form-control" name="date_from" id="date"
                   placeholder="date"><br>
            <label for="date">to date:</label>
            <input type="date" class="form-control" name="date_to" id="date" placeholder="date"><br>

        <button type="submit" class="btn btn-default">Search</button>
    </form>
    <?php
    if (isset($data['news'])): ?>
        <br><hr><br>
        <ul>
            <?php foreach ($data['news'] as $n): ?>
                <li><a href="/pages/view/<?= $n['id'] ?>"><?= $n['title'] ?></a></li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>